$mainBGColor:#2E3138;
$mainButtonColor:#9580FF;
$mainButtonColor2:#A361FF;
$mainButtonColor3:#BD91FC;
$buttonShadowColor:#F1E7FF;
$buttonGradient:rgba(11, 10, 13, 0.44);
$buttonGradient2:rgba(8, 7, 13, 0.24);
$buttonGradient3:rgba(31, 36, 47, 0.50);
$buttonGradient4:rgba(241, 231, 255, 0.30);
$shadowColor:rgba(107, 102, 126, 0.49);
$rightPanelColor:#363A42;
$onlineIndicator:#A9E81C;
$onlineIndicator2:#8ECC00;
$textColorWhite:#FFFFFF;
$buttonColorDisabled:#B0AEB9;
$strokeColor:#393B41;
$placeholderColor:#757184;
$fontFamily: 'Quicksand', sans-serif;
$fontSizeXS:12px;
$fontSizeS:13px;
$fontSizeM:14px;
$fontSizeL:16px;
$minWidth:320px;
$maxWidth:1280px;
$maxWidthContainer:856px;
$md1:$maxWidthContainer+12;
$md2:991.98;
$md3:767.98;
$md4:479.98;






